In [ ]:
print("hello world")

# This is a title

## This is a subtitle

These are my notes:

- Point 1
- Point 2

# Python - Begineer to DA

## Week 1


- Session 1:
  - What is Python?
  - Environments
  - Data Types
  - Primitive vs Complex Data Types
  - input() and print() statements

- Session 2:
  - Control Flow: Sequence
    - If, elif, else statements.
  - Control Flow: Iteration
    - while loops
    - for loops

- Session 3:
  - Recap excercises
  - Group Task: Calculator
  - Functions
  - Group Task: Continued

# Session 1

## What is Python?

- Python is a programming language
    - A set of instructions.
- Python is open source and extremely popular in industry.
- It's a high level programming language (written in almost human language).
- Python is CASE SENSISTIVE!
- Python counts from 0!
- Python is an object-oriented programming language.

## Data Types in Python

1. Primitive Data Types:
   - integer: whole numbers
   - strings: text characters
   - float: decimals
   - boolean: True/False
     
2. Collections (complex data types):
    - lists [ ] : Most versatile! 
    - tuples ( ) : Cannot be changed
    - sets { } : Does not allow duplicates.
    - dictionaries {k:v} : VERY USEFUL!

input vs print statements:

In [ ]:
print("Hello my name is nirosh")

In [ ]:
# This is a comment
name = "Nirosh" ## This will be ingnored
print(name)

In [ ]:
# Getting a user input and outputing:
name = input('Hey, give me your name...')
print('Hey', name)

In [ ]:
# Get python to take in a name and an age, and output these. 
name = input('What is your name?')
age = input('What is your age?')
print(name, age)

In [ ]:
# Try running this code:
name = 'Nirosh'
surname = 'Suthagar'
print(name + surname)

In [ ]:
# Fix the above
name = 'Nirosh'
surname = 'Suthagar'
print(name + ' ' + surname)

In [ ]:
# Try running this code:
name = 'Nirosh'
surname = 'Suthagar'
age = 30
print(name + surname + age)

In [ ]:
# What's wrong?

# Solution 1
name = 'Nirosh '
surname = 'Suthagar '
age = '30 '
print(name + surname + age)

# Solution 2
name = 'Nirosh'
surname = 'Suthagar'
age = 30
print(name + surname + str(age))

! Important ! 

Casting:
- To turn something into a string: str()
- To turn something into an int: int()
- To turn something into a float: float()

Whatever you put in the bracket should be converted!

In [ ]:
# Get a name and an age from the user and tell them how old they would be in 10 years.
name = input('Your name please:')
age = int(input('Your age please:'))

ageToAdd = 10
newAge = age + ageToAdd

print('Hey', name, 'in 10 years you will be', newAge)

! Important !

Whenever you get an input in python, it gets stored as a string! If you need a number, make sure you cast it.

Variables should either be in:

    - Camel Case (myFirstVariable)
    - underscores (my_first_variable)
    - all lower case (myfirstvariable)

# Control Flow

1. Sequence
2. Selection
3. Iteration

## Selection: if statement

In [ ]:
# IF statement
age = 14

if age < 18:
    print('You are a child!')

Operators to remember:

- < less than
- <= less than or equal to
- ```>``` greater than
- ```>=``` greater than or equal to
- != not equal to
- == equivalence

In [ ]:
# The comparison operator for equivalence will give you a True or False output. 
age = 15
limit = 18

age == limit

In [ ]:
# IF ELSE STATEMENT
age = 14

if age > 18:
    print("You're an adult")
else:
    print("You're a child")

In [ ]:
# IF ELIF STATEMENT

age = 70

if age < 18:
    print('child')
elif age > 18:
    print('adult')

### Task: 

Request a user's sallary, if they earn less than 30,000 they are in Band A. If they earn more than 50,000 they are in Band B. If they they earn more than 100,000, they are band C. 

Write code that can check and output a user's band based on their sallary.

### Stretch: 

1) If the sallary is between 60,000 and 70,000 they are in Band D. Add this logic!
2) In a new cell, change the code so that the user is in Band A if they're under 30,000 or over 100,000.

In [ ]:
# Task

salary = int(input('Hey user, give me your sallary: '))

if salary>100000:
    print('Band C')
elif salary >= 50000:
    print('Band B')
elif salary < 30000:
    print('Band A')
else:
    print('Banding Unsure')

In [ ]:
# Stretch

salary = int(input('Hey user, give me your sallary: '))

if salary>100000:
    print('Band C')
elif salary > 60000 and salary < 70000:
    print('Band D')
elif salary >= 50000:
    print('Band B')
elif salary < 30000:
    print('Band A')
else:
    print('Banding Unsure')

# Session 2: Control Flow - Iteration

## A while loop

A while loop will do something on repeat FOR AS LONG AS a criteria is met.

In [ ]:
x = 1

while x < 10:
    print(x)
    x = x + 1

In [ ]:
x = 10

while x>0:
    print(x) 
    x -= 1 # same as x = x - 1

## For Loops

Iterates through "something" and takes on each value.

Let's talk about the range() function first...

In [ ]:
for x in range(5): # range(5) becomes: 0, 1, 2, 3, 4
    print(x)

In [ ]:
for x in range(1, 10):
    print(x)

In [ ]:
for x in range(10, 0, -1): # (START, STOP, STEP)
    print(x)

In [ ]:
myFirstList = ['Nirosh', 'Dipti', 'Tanya']

for elephant in myFirstList:
    print('Hello', elephant)

A FOR loop creates a dummy variable!! - elephant is a whole new variable

In [ ]:
interest_rate = 3.9
target = 2000
investment = 156
year = 0

while investment <= target:
    # After one year
    year = year + 1
    money_gained = investment * (interest_rate/100)
    investment = investment + money_gained

print(year, investment)

## Calculator Excercise

In [ ]:
num1 = float(input('Give me a number'))
num2 = float(input('Give me a second number'))
operator = input('Give me an operator')

if operator == '+':
    print(num1 + num2)
elif operator == '-':
    print(num1-num2)
elif operator == '*':
    print(num1 * num2)
elif operator == '/':
    print(num1/num2)

In [ ]:
# Stretch Solution:
def getUserInput():
    num1 = float(input('Give me a number'))
    num2 = float(input('Give me a second number'))
    operator = input('Give me an operator')
    return num1, num2, operator

num1, num2, operator = getUserInput()

if operator == '+':
    print(num1 + num2)
elif operator == '-':
    print(num1-num2)
elif operator == '*':
    print(num1 * num2)
elif operator == '/': # TRY USING THE FUNCTION TO FIX THE / by 0.
    if num2 == 0:
        print('Try that again with a non zero number')
        num1, num2, operator = getUserInput()
    print(num1/num2)

Task:

You need to build a coffee order app. 

A user must be able to see a menu, choose one or more drinks and you must output the total price.

# Lists & Strings

In [ ]:
names = ['Nirosh', 'Shilpa', 'Jimmy']
print(names)

In [ ]:
random = ['Tom', 3.12, True, 5]
print(random)

## Indexing

This is how we retrieve information from a list.

In [ ]:
# Selecting the first element in the names list

random[3]

# Slicing

In [ ]:
numbers = [13,24,4,56,112,885,2323,765,890,5,12,66,231]

# Hint: LIST[START:STOP:STEP]
## Default is 0 for start and 1 for step. 

print(numbers[0:3])
print(numbers[1:6])
print(numbers[-1]) # Last number
print(numbers[:6])
print(numbers[11::-1])
print(len(numbers)) # Gives the number of items in the list

# List Methods

There are LOADS of these...

In [ ]:
myEmptyList = []

myEmptyList.append(11)

print(myEmptyList)

In [ ]:
list_2 = [1,2,4,2]

list_2.remove(2)

print(list_2)

In [ ]:
list_3 = ['Nirosh', 'A', 'C', 'X', 'D']
list_3.sort()
print(list_3)

# Strings

In [ ]:
myFirstString = 'Hello, this is a course about Python'

In [ ]:
myFirstString[0]

In [ ]:
myFirstString[0:8]

In [ ]:
# Important: lists vs strings

numbers = [1,2,3]
numbers[2] = 555
print(numbers)

# In strings you CANNOT DO THE ABOVE!

In [ ]:
# There are loads of STRING METHODS
myFirstString.upper()

In [ ]:
myFirstString.lower()

In [ ]:
myFirstString.title()

In [ ]:
myFirstString.find('Python')

In [ ]:
# STRETCH - Finding the length of the word Python.
counter = 0
for letter in myFirstString[30:]:
    if letter == ' ':
        break
    counter = counter + 1
print(counter)

In [ ]:
myFirstString[30:]

In [ ]:
len(myFirstString)

In [ ]:
text = "Hello, Python!"

print(text[::2])

# Tuples

A tuple is an unchangable collection of items!

In [ ]:
myFirstTuple = ()
print(myFirstTuple)

In [ ]:
mySecondTuple = ('StudentA', 98, 'Europe')
print(mySecondTuple)

In [ ]:
# Task: Create a tuple of your top 5 food and drinks (and print it)...
myFaves = ('Pizza', 'Lasagna', 'Fried Rice', 'Mango Lassi', 'Cake')
myFaves

In [ ]:
myFaves[0:2]

In [ ]:
# Packing and Unpacking Tuples
user = ('nirosh', 'id03', 'blue')

In [ ]:
# Unpacking
fname, id, color = user
print(fname)
print(id)
print(color)

In [ ]:
# Try this:
user[0] = 'Tom'

In [ ]:
myFaveDrinks = ('Water', 'Rose Milk', 'Coconut Water')
print(myFaves)
print(myFaveDrinks)

In [ ]:
newFaves = myFaveDrinks + myFaves
newFaves

# Sets

Sets are unique colletion of items denoted by {}.

Sets are unordered!

In [ ]:
myFirstSet = {2,5,4,5,34}
print(myFirstSet)

In [ ]:
# This way is not used often AT ALL
mySecondSet = set(['Nirosh', 'Dipti', 'Jimmy'])
mySecondSet #Notebooks are designed to output the last line by default. Useful for experimentation but not best practise in production!

Set Methods

In [ ]:
myFirstSet.add(333)
myFirstSet

In [ ]:
myFirstSet.update([222,444,555])
myFirstSet

In [ ]:
myFirstSet.pop()

In [ ]:
questionPerson = {
    'Dipti',
    'Jaimini',
    'Anjumol',
    'Shilpa',
    'Jimmy'
}

In [ ]:
print(questionPerson.pop())
print(questionPerson)

In [ ]:
# Something useful
if 'Jimmy' in questionPerson:
    print('Hello Jimmy')

## Set Operators

In [ ]:
# Union - concatenates both sets
set_A = {1,2,3}
set_B = {3,4,5}

union_set = set_A | set_B
union_set

In [ ]:
# Intersection - Returns the set with all common items.
intersection_set = set_A & set_B
intersection_set

In [ ]:
# Difference - Returns the unique items in set B that aren't in set A:
difference_set = set_B - set_A
difference_set

In [ ]:
print(set_A, set_B)

In [ ]:
# Summetric Difference - Returns values that appear in either one of the sets.
symmetric_output = set_A ^ set_B
symmetric_output

In [ ]:
numbers = [10, 20, 30, 20, 10, 50, 60, 40, 80, 50, 40]

answer = list(set(numbers))
answer

# Dictionaries

What is a dictionary?

- An unordered collection of data values stored in key:value pair.
- Each key is unique.
- Values can be duplicated.
- Stretch: Look into Hash Tables or Associative Arrays.

In [ ]:
myFirstDict = {
    'Jaimini': 1.5,
    'Dipti': 1.6,
    'Anjumol': 1.75,
    'Shilpa': 1.67,
    'Jimmy': 1.56
}

you can also use the dict() but this is less common.

In [ ]:
# Retrieving Information
myFirstDict['Jimmy']

In [ ]:
# Adding a new entry 
myFirstDict['Nirosh'] = 1.5
myFirstDict

In [ ]:
# Remove a key:value pair
del myFirstDict['Nirosh']
myFirstDict

In [ ]:
# Items
myFirstDict.items()

In [ ]:
# Iterating through a dictionary:
for key, value in myFirstDict.items():
print(f'The learner, {key} has a height of {value}.')

In [ ]:
# len()
len(myFirstDict)

In [ ]:
# Nesting Dictionaries
students = {
    "Dipti": {"age":25, "expertise":"science"},
    "Shilpa": {"age":26, "expertise":"maths"}
}
students

In [ ]:
print(students['Dipti']['age'])

In [ ]:
search = ['age', 'expertise']

for x in search:
    print(students['Dipti'][x])

In [ ]:
# Adding a new nested value
students['Nirosh'] = {'age':25,'expertise':'data'}
students

# Libraries

Some important libraries:
- Numpy
- Pandas
- Matplotlib
- Seaborn
- SciKitLearn

Numpy:

Python is rather slow (in its vanilla format).

Numpy was introduced to make Python faster by using the data structure called Arrays.

In [ ]:
import numpy as np

In [ ]:
myFirstArray = np.array([1,3,5,7,9])
print(myFirstArray)

## Pandas

This is a VERY important library!

Pandas is used to work with strucutred data. It is our tool for data handling!

Pandas is build on top of numpy.

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
sampleData = {
    'Person' : ['Nirosh', 'Nirosh', 'Dipti', 'Anjumol', 'Shilpa', 'Jimmy'],
    'Python Confident': [np.nan, np.nan, 4.5, 5, 4, 4],
    'Hobby' : ['Reading', 'Reading', 'Travelling', 'Gardening', 'Music', 'Hiking'],
    'House Number': [96, 96, 6, 11, 7, 19],
    'Interview Confidence' : [5, 5, 2.5, 3, 4, 4]
}

In [ ]:
sampleData2 = {
    'Name': 'Nirosh',
    'Height' : 30,
    'Eye Col' : 'Brown'
}

In Pandas you need to know about two new data structures:
1. Series
2. Dataframe

In [ ]:
x = pd.Series([2,4,6,8,10])
x

In [ ]:
# A series object is like a column. It has a value array and an index array:
print(x.values)
print(x.index)

In [ ]:
# This means we can index a Series!
x[3]

A Pandas Dataframe is what we use to store strucutred data (in rows and columns)!

In [ ]:
df = pd.DataFrame(sampleData)

run: df.describe()

In [ ]:
df.head()

In [ ]:
# Removing duplicates
df.drop_duplicates(inplace=True)
df.head()

In [ ]:
# Fillna Values
df.fillna(0, inplace=True)
df.head()

In [ ]:
# Selecting a column
df['Person']

In [ ]:
# OR 

df.Person

In [ ]:
# Sorting by column
df.sort_values(by=['Interview Confidence'])

In [ ]:
# Filtering Columnns
df[df.Hobby == 'Reading']

In [ ]:
df[df['Python Confident'] > 4]

# Working with CSVs to visualise data

In [36]:
import pandas as pd
import matplotlib.pyplot as plt

In [37]:
# Loading the dataset

data = pd.read_csv('data/Online Retail Data Set.csv', encoding='latin1')
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850.0,United Kingdom

In [38]:
print(data.shape)

(541909, 8)

In [39]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850.0,United Kingdom

# Data Enrichment

In [40]:
# Checking for NAs
data.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [41]:
missing_products = data[data.Description.isna()]
missing_products.head()

# Saving that as a csv that we can email to get fixed by the data owners.
missing_products.to_csv('data/missing_products.csv')

In [42]:
missing_custIDs = data[data.CustomerID.isna()]
missing_custIDs.head()

missing_custIDs.to_csv('data/missing_custID.csv')

In [43]:
data_cleaned = data.dropna()

In [44]:
data_cleaned.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850.0,United Kingdom

In [45]:
# Checking for duplicates
data_cleaned.drop_duplicates(inplace=True)
data_cleaned.shape

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_36665/3632766028.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned.drop_duplicates(inplace=True)

(401604, 8)

In [46]:
data_cleaned['gross_profit'] = data_cleaned.UnitPrice * data_cleaned.Quantity
data_cleaned.head()

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_36665/494168631.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned['gross_profit'] = data_cleaned.UnitPrice * data_cleaned.Quantity

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,gross_profit
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850.0,United Kingdom,20.34

In [47]:
# Cleaning the data column
data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 401604 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   InvoiceNo     401604 non-null  object
 1   StockCode     401604 non-null  object
 2   Description   401604 non-null  object
 3   Quantity      401604 non-null  int64
 4   InvoiceDate   401604 non-null  object
 5   UnitPrice     401604 non-null  float64
 6   CustomerID    401604 non-null  float64
 7   Country       401604 non-null  object
 8   gross_profit  401604 non-null  float64
dtypes: float64(3), int64(1), object(5)
memory usage: 30.6+ MB

In [48]:
data_cleaned.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,gross_profit
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850.0,United Kingdom,20.34

In [49]:
# Turnin date columns into Datetime format. 
data_cleaned.InvoiceDate = pd.to_datetime(data_cleaned['InvoiceDate'],dayfirst=True)
data_cleaned.head()

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_36665/1612582301.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned.InvoiceDate = pd.to_datetime(data_cleaned['InvoiceDate'],dayfirst=True)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,gross_profit
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

In [50]:
data_cleaned.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,gross_profit
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

In [51]:
data_cleaned['invoice_date'] = data_cleaned.InvoiceDate.dt.date
data_cleaned['invoice_time'] = data_cleaned.InvoiceDate.dt.time
data_cleaned.head()

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_36665/3805957240.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned['invoice_date'] = data_cleaned.InvoiceDate.dt.date
/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_36665/3805957240.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned['invoice_time'] = data_cleaned.InvoiceDate.dt.time

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,gross_profit,invoice_date,invoice_time
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,2010-12-01,08:26:00
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010-12-01,08:26:00
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,2010-12-01,08:26:00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010-12-01,08:26:00
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010-12-01,08:26:00

In [52]:
data_cleaned.drop(columns='InvoiceDate', inplace=True)
data_cleaned.columns

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_36665/1309762090.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned.drop(columns='InvoiceDate', inplace=True)

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'UnitPrice',
       'CustomerID', 'Country', 'gross_profit', 'invoice_date',
       'invoice_time'],
      dtype='object')

In [53]:
# Creating a summary of customerID vs Profit
custProfit = data_cleaned.groupby('CustomerID')['gross_profit'].sum().reset_index().sort_values(by='gross_profit', ascending=False)
custProfit.head(n=20)

      CustomerID  gross_profit
1703     14646.0     279489.02
4233     18102.0     256438.49
3758     17450.0     187322.17
1895     14911.0     132458.73
55       12415.0     123725.45
1345     14156.0     113214.59
3801     17511.0      88125.38
3202     16684.0      65892.08
1005     13694.0      62690.54
2192     15311.0      59284.19
568      13089.0      57322.13
1300     14096.0      57120.91
1999     15061.0      54228.74
2722     16029.0      53168.69
4125     17949.0      52750.84
2537     15769.0      51823.72
1447     14298.0      50862.44
1295     14088.0      50415.49
4042     17841.0      39869.05
1078     13798.0      36352.87

In [54]:
data_cleaned[data_cleaned['Quantity']<0].head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,gross_profit,invoice_date,invoice_time
141,C536379,D,Discount,-1,27.50,14527.0,United Kingdom,-27.50,2010-12-01,09:41:00
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,4.65,15311.0,United Kingdom,-4.65,2010-12-01,09:49:00
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,1.65,17548.0,United Kingdom,-19.80,2010-12-01,10:24:00
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,0.29,17548.0,United Kingdom,-6.96,2010-12-01,10:24:00
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,0.29,17548.0,United Kingdom,-6.96,2010-12-01,10:24:00

In [55]:
data_negQTY = data_cleaned[data_cleaned['Quantity']<0] 
data_negQTY.to_csv('data/neg_qty.csv')

In [56]:
# Removing negative data from our dataset.
data_v2 = data_cleaned[data_cleaned['Quantity']>0]

In [57]:
data_v2.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,gross_profit,invoice_date,invoice_time
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,15.30,2010-12-01,08:26:00
1,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,20.34,2010-12-01,08:26:00
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,22.00,2010-12-01,08:26:00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom,20.34,2010-12-01,08:26:00
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom,20.34,2010-12-01,08:26:00

## Visualisation with Matplotlib

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
x = [1,2,3,4,5]
y = [10,12,8,14,7]

plt.plot(x,y)
plt.title('My First Graph')
plt.xlabel('X Axis')
plt.ylabel('y label')
plt.show()